<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="./css/main.css">
    <title>maximize tickets!</title>
</head>
<body>
    <p>Scott</p>
    {{#each street}}
    <p>{{this}}</p>
    {{/each}}
    <p>{{ticket}}</p>
    <section id="search-wrapper">
      <h2>Vancouver Tickets/Meters Analysis</h2>
      <form id="form">
        <fieldset>
          <input type="text" class="form-content" placeholder="city" value="Vancouver" required="required"/>
          <input type="text" class="form-content" placeholder="area" required="required"/>
          <input type="text" class="form-content" placeholder="street-name" required="required"/>
          <label>Start Date: </label><input type="date" class="form-content" required="required"/>
          <label>End Date: </label><input type="date" class="form-content" required="required"/>
          <input type="submit" id="search-button" value="search" />
        </fieldset>
      </form>
    </section>
    <section id="list-head-wrapper">
      <h4>street details</h4>
      <ul id="list-ul">
        <li class="list-li">
          <div class="list-city">City</div>
          <div class="list-area">Area</div>
          <div class="list-street-name">Street Name(block)</div>
          <div class="list-number-meters">Number of Meters/block</div>
          <div class="list-number-tickets">Number of Tickets/time</div>
        </li>
        <li class="list-li">
          <div class="list-city">Vancouver</div>
          <div class="list-area">Downtown</div>
          <div class="list-street-name">100 Homer St.</div>
          <div class="list-number-meters">2</div>
          <div class="list-number-tickets">1</div>
          <div id="button"><a href="#">Analyze</a></div>
        </li>
      </ul>
    </section>
</body>

</html>